* {
    box-sizing: border-box;
}

body {
    background-color: #7fa7a8;
}

.sidebar {
    padding :20px;
    background-color: slategray;
    color: white;
    font-size: 20px;
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    text-align: center;
}



.active {
    right:0;
}