body {
    background-color: rgb(241, 241, 142);
    font-size: 55px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: bisque;
    margin: 5px;
}